:root{
    --color-1: #2f3240;
}
body{
  font-family: sans-serif;
  background-color: #e8eef3;
  overflow-x: hidden;
  
}
html, body{
  height: 100%;
}
#container{
  min-height: 100%;
}
#main{
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 150px;
}
*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
#span{
  color: #ffffff;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
.container{
  max-width: 1170px;
  margin:auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
.align-items-center{
  align-items: center;
}
.justify-content-between{
  justify-content: space-between;
}
/*header*/
.header{
  background-color: var(--color-1);
  padding: 12px 0;
  line-height: 1.5;
}

.header .logo,
.header .nav{
  padding:0 15px;
}
.header .logo img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.header .logo p{
    font-size: 25px;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 15px;
}
.header .logo{
    display: flex;
    flex-wrap: wrap;
}
.header .nav ul li{
  display: inline-block;
  margin-left: 40px;
}
.header .nav ul li a{
  display: block;
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  padding: 10px 0;
  transition: all 0.5s ease;
}
.header .nav ul li a.active,
.header .nav ul li a:hover{
  color: #f3a93d;
}

nav ul li ul{
    display: none;
    position: absolute;
    background-color: var(--color-1);
    padding: 10px;
    border-radius: 0px 0px 4px 4px;
}
nav ul li:hover ul{
    display: block;
   
}

nav ul li ul li{
    width: 180px;
    border-radius: 4px;
    flex: 1;
    text-align: left;
}

nav ul li ul li a{
    padding: 8px 14px;
}

nav ul li ul li a:hover{
    background-color: #f3f3f3;
}

.nav-toggler{
  height: 34px;
  width: 44px;
  background-color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  border:none;
  display: none;
  margin-right: 15px;
}
.nav-toggler:focus{
  outline: none;
  box-shadow: 0 0 15px rgba(255,255,255,0.5);
}
.nav-toggler span{
    height: 2px;
    width: 20px;
    background-color: var(--color-1);
    display: block;
    margin:auto;
    position: relative;
    transition: all 0.3s ease;
}
.nav-toggler.active span{
  background-color: transparent;
}
.nav-toggler span::before,
.nav-toggler span::after{
  content: '';
  position: absolute;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  background-color: var(--color-1);
  transition: all 0.3s ease;
}
.nav-toggler span::before{
  transform: translateY(-6px);
}
.nav-toggler.active span::before{
  transform: rotate(45deg);
}
.nav-toggler span::after{
  transform: translateY(6px);
}
.nav-toggler.active span::after{
  transform: rotate(135deg);
}
@media(max-width:991px){
   .nav-toggler{
     display: block;
   }
   .header .nav{
     width: 100%;
     padding:0;
     max-height: 0px;
     overflow: hidden;
     visibility: hidden;
     transition: all 0.5s ease;
   }
   .header .nav.open{
     visibility: visible;
   }
   .header .nav ul{
     padding:12px 15px 0;
     margin-top: 12px;
     border-top:1px solid rgba(255,255,255,0.2);
   }
   .header .nav ul li{
     display: block;
     margin:0;
   }

    /* kalhone mikeyer */
    .header .menu > .menu-item-has-children:hover > .sub-menu{
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
     }
     .header .menu > .menu-item-has-children:hover > a .plus:after{
        transform: translate(-50%,-50%) rotate(0deg);    
     }
     .header .menu > .menu-item > .sub-menu > .menu-item{
      display: block;
    }
    .header .menu > .menu-item > .sub-menu > .menu-item > a{
      display: block;
      padding: 10px 20px;
      font-size: 15px;
      font-weight: 600;
      color: #ffffff;
      transition: all 0.3s ease;
      text-transform: capitalize;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-style: normal;
    }
    .header .nav ul li ul li{
      background: var(--color-1); 
    }
    
}

/* Body of home page */
.section1{
  background-image: url(images/wallpaper4.jpg);
  background-size: cover;
  background-position: center;
  height: 500px;
}
.section1 ul{
  justify-items: center;
  text-align: center;
  font-size: 28px;
  padding: 150px 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media(max-width:991px){
  .section1{
    height: 400px;
  }
  .section1 ul{
    font-size: 25px;
    color: rgb(166, 24, 237);
  }
}

.section2{
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 35px;
  margin-right: 35px;
}

.corner{
  width: 370px;
  height: 450px;
}
.center{
  width: 600px;
  height: 350px;
}

.grid-container{
  display: grid;
  grid-template-columns: 405px 635px 405px;
  grid-auto-rows: auto;
  margin-bottom: 40px;
  grid-template-areas:
      "grid-item-1"
      "grid-item-2"
      "grid-item-3"
}

.grid-item .grid-item-1{
  grid-area: grid-item-1;
}
.grid-item .grid-item-2{
  grid-area: grid-item-2;
}
.grid-item .grid-item-3{
  grid-area: grid-item-3;
}
.paragraph{
  font-size: 33px;
  font-weight: lighter;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}
.addvideo{
  margin-left: 410px;
}
.video{
  height: 350px;
  width: 600px;
}
@media(max-width: 1024px){
  .grid-container{
    grid-template-columns: 1fr;
    grid-template-rows: 485px 480px 450px;
    grid-template-areas: 
        "grid-item-1"
        "grid-item-2"
        "grid-item-3"    
  }
  .center{
    height: 370px;
    width: 370px;
  }
  .paragraph{
    font-size: 23px;
    text-align: left;
  }
  .video{
    width: 370px;
  }
  .addvideo{
    margin-left: 2px;
  }
  
}

/*This is Footer */
.containerFooter{
    max-width: 1170px;
    margin: auto;
}
#footer{
    background-color: #24262b;
    position: relative;
    margin-top: -150px;
    clear: both;
    padding: 70px 0;
}
.rowFooter{
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
    width: 30%;
    padding: 0 19px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col p{
    margin-bottom: 10px;
    font-size: 16px;
    color: #ffffff;
    font-weight: 300;
    color: #bbbbbb;
    display: block;

}
.footer-col a img{
    height: 25px;
    width: 25px;
    display: inline-block;
    margin-right: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: all 0.5s ease;
}
.footer-col a img:hover{
    padding-bottom: 6px;
}

/* responsive footer */
@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
  }
@media(max-width: 574px){
    .footer-col{
        width: 100%;
    }
}
